<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ContextAwareMusicApp"
        tools:targetApi="31">

        <!-- SplashScreenActivity as the new launcher activity -->
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AuthActivity remains unchanged -->
        <activity
            android:name=".controller.AuthActivity"
            android:label="@string/title_auth_activity"
            android:theme="@style/Theme.ContextAwareMusicApp.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="contextawaremusicapp"
                    android:host="callback" />
            </intent-filter>
        </activity>

        <!-- MainActivity is no longer the launcher activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ContextAwareMusicApp">
        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
